/* Branding */

$black : #000000;
$white: #ffffff;

$barely-gray: #f0f0f0;
$l-gray: #ededed;
$gray: #b7b7b7;
$med-gray: #636363;
$d-gray: #3e3e3e;
$dirty-gray: #dddbd8;

$brown: #837b6e;

$red: #b9002d;
$d-red: #990025;

$blue: #62afe3;

$green: #68ab2c;