%d-all {
  width: 100%;
  float: left;
  clear: left;
}
 
%d1 {
  width: 3.425%;
  float: left;
  margin-right: -100%;
}
 
%d1-d2 {
  width: 10.8501%;
  float: left;
  margin-right: -100%;
}
 
%d1-d3 {
  width: 18.2752%;
  float: left;
  margin-right: -100%;
}
 
%d1-d4 {
  width: 25.7002%;
  float: left;
  margin-right: -100%;
}
 
%d1-d5 {
  width: 33.1252%;
  float: left;
  margin-right: -100%;
}
 
%d1-d6 {
  width: 40.5501%;
  float: left;
  margin-right: -100%;
}
 
%d1-d7 {
  width: 47.9751%;
  float: left;
  margin-right: -100%;
}
 
%d1-d8 {
  width: 55.4001%;
  float: left;
  margin-right: -100%;
}
 
%d1-d9 {
  width: 62.8251%;
  float: left;
  margin-right: -100%;
}
 
%d1-d10 {
  width: 70.2501%;
  float: left;
  margin-right: -100%;
}
 
%d1-d11 {
  width: 77.6751%;
  float: left;
  margin-right: -100%;
}
 
%d1-d12 {
  width: 85.1%;
  float: left;
  margin-right: -100%;
}
 
%d1-d13 {
  width: 92.525%;
  float: left;
  margin-right: -100%;
}
 
%d2 {
  width: 3.4251%;
  margin-left: 7.425%;
  float: left;
  margin-right: -100%;
}
 
%d2-d3 {
  width: 10.8502%;
  margin-left: 7.425%;
  float: left;
  margin-right: -100%;
}
 
%d2-d4 {
  width: 18.2752%;
  margin-left: 7.425%;
  float: left;
  margin-right: -100%;
}
 
%d2-d5 {
  width: 25.7002%;
  margin-left: 7.425%;
  float: left;
  margin-right: -100%;
}
 
%d2-d6 {
  width: 33.1252%;
  margin-left: 7.425%;
  float: left;
  margin-right: -100%;
}
 
%d2-d7 {
  width: 40.5501%;
  margin-left: 7.425%;
  float: left;
  margin-right: -100%;
}
 
%d2-d8 {
  width: 47.9751%;
  margin-left: 7.425%;
  float: left;
  margin-right: -100%;
}
 
%d2-d9 {
  width: 55.4001%;
  margin-left: 7.425%;
  float: left;
  margin-right: -100%;
}
 
%d2-d10 {
  width: 62.8251%;
  margin-left: 7.425%;
  float: left;
  margin-right: -100%;
}
 
%d2-d11 {
  width: 70.2501%;
  margin-left: 7.425%;
  float: left;
  margin-right: -100%;
}
 
%d2-d12 {
  width: 77.6751%;
  margin-left: 7.425%;
  float: left;
  margin-right: -100%;
}
 
%d2-d13 {
  width: 85.1%;
  margin-left: 7.425%;
  float: left;
  margin-right: -100%;
}
 
%d2-d14 {
  width: 92.525%;
  margin-left: 7.425%;
  float: left;
  margin-right: -100%;
}
 
%d3 {
  width: 3.4251%;
  margin-left: 14.8501%;
  float: left;
  margin-right: -100%;
}
 
%d3-d4 {
  width: 10.8501%;
  margin-left: 14.8501%;
  float: left;
  margin-right: -100%;
}
 
%d3-d5 {
  width: 18.2751%;
  margin-left: 14.8501%;
  float: left;
  margin-right: -100%;
}
 
%d3-d6 {
  width: 25.7001%;
  margin-left: 14.8501%;
  float: left;
  margin-right: -100%;
}
 
%d3-d7 {
  width: 33.125%;
  margin-left: 14.8501%;
  float: left;
  margin-right: -100%;
}
 
%d3-d8 {
  width: 40.55%;
  margin-left: 14.8501%;
  float: left;
  margin-right: -100%;
}
 
%d3-d9 {
  width: 47.975%;
  margin-left: 14.8501%;
  float: left;
  margin-right: -100%;
}
 
%d3-d10 {
  width: 55.4%;
  margin-left: 14.8501%;
  float: left;
  margin-right: -100%;
}
 
%d3-d11 {
  width: 62.825%;
  margin-left: 14.8501%;
  float: left;
  margin-right: -100%;
}
 
%d3-d12 {
  width: 70.2499%;
  margin-left: 14.8501%;
  float: left;
  margin-right: -100%;
}
 
%d3-d13 {
  width: 77.6749%;
  margin-left: 14.8501%;
  float: left;
  margin-right: -100%;
}
 
%d3-d14 {
  width: 85.0999%;
  margin-left: 14.8501%;
  float: left;
  margin-right: -100%;
}
 
%d4 {
  width: 3.425%;
  margin-left: 22.2752%;
  float: left;
  margin-right: -100%;
}
 
%d4-d5 {
  width: 10.85%;
  margin-left: 22.2752%;
  float: left;
  margin-right: -100%;
}
 
%d4-d6 {
  width: 18.2749%;
  margin-left: 22.2752%;
  float: left;
  margin-right: -100%;
}
 
%d4-d7 {
  width: 25.6999%;
  margin-left: 22.2752%;
  float: left;
  margin-right: -100%;
}
 
%d4-d8 {
  width: 33.1249%;
  margin-left: 22.2752%;
  float: left;
  margin-right: -100%;
}
 
%d4-d9 {
  width: 40.5499%;
  margin-left: 22.2752%;
  float: left;
  margin-right: -100%;
}
 
%d4-d10 {
  width: 47.9749%;
  margin-left: 22.2752%;
  float: left;
  margin-right: -100%;
}
 
%d4-d11 {
  width: 55.3999%;
  margin-left: 22.2752%;
  float: left;
  margin-right: -100%;
}
 
%d4-d12 {
  width: 62.8248%;
  margin-left: 22.2752%;
  float: left;
  margin-right: -100%;
}
 
%d4-d13 {
  width: 70.2498%;
  margin-left: 22.2752%;
  float: left;
  margin-right: -100%;
}
 
%d4-d14 {
  width: 77.6748%;
  margin-left: 22.2752%;
  float: left;
  margin-right: -100%;
}
 
%d5 {
  width: 3.425%;
  margin-left: 29.7002%;
  float: left;
  margin-right: -100%;
}
 
%d5-d6 {
  width: 10.85%;
  margin-left: 29.7002%;
  float: left;
  margin-right: -100%;
}
 
%d5-d7 {
  width: 18.2749%;
  margin-left: 29.7002%;
  float: left;
  margin-right: -100%;
}
 
%d5-d8 {
  width: 25.6999%;
  margin-left: 29.7002%;
  float: left;
  margin-right: -100%;
}
 
%d5-d9 {
  width: 33.1249%;
  margin-left: 29.7002%;
  float: left;
  margin-right: -100%;
}
 
%d5-d10 {
  width: 40.5499%;
  margin-left: 29.7002%;
  float: left;
  margin-right: -100%;
}
 
%d5-d11 {
  width: 47.9749%;
  margin-left: 29.7002%;
  float: left;
  margin-right: -100%;
}
 
%d5-d12 {
  width: 55.3999%;
  margin-left: 29.7002%;
  float: left;
  margin-right: -100%;
}
 
%d5-d13 {
  width: 62.8248%;
  margin-left: 29.7002%;
  float: left;
  margin-right: -100%;
}
 
%d5-d14 {
  width: 70.2498%;
  margin-left: 29.7002%;
  float: left;
  margin-right: -100%;
}
 
%d6 {
  width: 3.425%;
  margin-left: 37.1252%;
  float: left;
  margin-right: -100%;
}
 
%d6-d7 {
  width: 10.85%;
  margin-left: 37.1252%;
  float: left;
  margin-right: -100%;
}
 
%d6-d8 {
  width: 18.2749%;
  margin-left: 37.1252%;
  float: left;
  margin-right: -100%;
}
 
%d6-d9 {
  width: 25.6999%;
  margin-left: 37.1252%;
  float: left;
  margin-right: -100%;
}
 
%d6-d10 {
  width: 33.1249%;
  margin-left: 37.1252%;
  float: left;
  margin-right: -100%;
}
 
%d6-d11 {
  width: 40.5499%;
  margin-left: 37.1252%;
  float: left;
  margin-right: -100%;
}
 
%d6-d12 {
  width: 47.9749%;
  margin-left: 37.1252%;
  float: left;
  margin-right: -100%;
}
 
%d6-d13 {
  width: 55.3999%;
  margin-left: 37.1252%;
  float: left;
  margin-right: -100%;
}
 
%d6-d14 {
  width: 62.8248%;
  margin-left: 37.1252%;
  float: left;
  margin-right: -100%;
}
 
%d7 {
  width: 3.425%;
  margin-left: 44.5501%;
  float: left;
  margin-right: -100%;
}
 
%d7-d8 {
  width: 10.85%;
  margin-left: 44.5501%;
  float: left;
  margin-right: -100%;
}
 
%d7-d9 {
  width: 18.2749%;
  margin-left: 44.5501%;
  float: left;
  margin-right: -100%;
}
 
%d7-d10 {
  width: 25.6999%;
  margin-left: 44.5501%;
  float: left;
  margin-right: -100%;
}
 
%d7-d11 {
  width: 33.1249%;
  margin-left: 44.5501%;
  float: left;
  margin-right: -100%;
}
 
%d7-d12 {
  width: 40.5499%;
  margin-left: 44.5501%;
  float: left;
  margin-right: -100%;
}
 
%d7-d13 {
  width: 47.9749%;
  margin-left: 44.5501%;
  float: left;
  margin-right: -100%;
}
 
%d7-d14 {
  width: 55.3999%;
  margin-left: 44.5501%;
  float: left;
  margin-right: -100%;
}
 
%d8 {
  width: 3.425%;
  margin-left: 51.9751%;
  float: left;
  margin-right: -100%;
}
 
%d8-d9 {
  width: 10.85%;
  margin-left: 51.9751%;
  float: left;
  margin-right: -100%;
}
 
%d8-d10 {
  width: 18.2749%;
  margin-left: 51.9751%;
  float: left;
  margin-right: -100%;
}
 
%d8-d11 {
  width: 25.6999%;
  margin-left: 51.9751%;
  float: left;
  margin-right: -100%;
}
 
%d8-d12 {
  width: 33.1249%;
  margin-left: 51.9751%;
  float: left;
  margin-right: -100%;
}
 
%d8-d13 {
  width: 40.5499%;
  margin-left: 51.9751%;
  float: left;
  margin-right: -100%;
}
 
%d8-d14 {
  width: 47.9749%;
  margin-left: 51.9751%;
  float: left;
  margin-right: -100%;
}
 
%d9 {
  width: 3.425%;
  margin-left: 59.4001%;
  float: left;
  margin-right: -100%;
}
 
%d9-d10 {
  width: 10.85%;
  margin-left: 59.4001%;
  float: left;
  margin-right: -100%;
}
 
%d9-d11 {
  width: 18.2749%;
  margin-left: 59.4001%;
  float: left;
  margin-right: -100%;
}
 
%d9-d12 {
  width: 25.6999%;
  margin-left: 59.4001%;
  float: left;
  margin-right: -100%;
}
 
%d9-d13 {
  width: 33.1249%;
  margin-left: 59.4001%;
  float: left;
  margin-right: -100%;
}
 
%d9-d14 {
  width: 40.5499%;
  margin-left: 59.4001%;
  float: left;
  margin-right: -100%;
}
 
%d10 {
  width: 3.425%;
  margin-left: 66.8251%;
  float: left;
  margin-right: -100%;
}
 
%d10-d11 {
  width: 10.85%;
  margin-left: 66.8251%;
  float: left;
  margin-right: -100%;
}
 
%d10-d12 {
  width: 18.2749%;
  margin-left: 66.8251%;
  float: left;
  margin-right: -100%;
}
 
%d10-d13 {
  width: 25.6999%;
  margin-left: 66.8251%;
  float: left;
  margin-right: -100%;
}
 
%d10-d14 {
  width: 33.1249%;
  margin-left: 66.8251%;
  float: left;
  margin-right: -100%;
}
 
%d11 {
  width: 3.425%;
  margin-left: 74.2501%;
  float: left;
  margin-right: -100%;
}
 
%d11-d12 {
  width: 10.85%;
  margin-left: 74.2501%;
  float: left;
  margin-right: -100%;
}
 
%d11-d13 {
  width: 18.2749%;
  margin-left: 74.2501%;
  float: left;
  margin-right: -100%;
}
 
%d11-d14 {
  width: 25.6999%;
  margin-left: 74.2501%;
  float: left;
  margin-right: -100%;
}
 
%d12 {
  width: 3.425%;
  margin-left: 81.6751%;
  float: left;
  margin-right: -100%;
}
 
%d12-d13 {
  width: 10.85%;
  margin-left: 81.6751%;
  float: left;
  margin-right: -100%;
}
 
%d12-d14 {
  width: 18.2749%;
  margin-left: 81.6751%;
  float: left;
  margin-right: -100%;
}
 
%d13 {
  width: 3.425%;
  margin-left: 89.1%;
  float: left;
  margin-right: -100%;
}
 
%d13-d14 {
  width: 10.85%;
  margin-left: 89.1%;
  float: left;
  margin-right: -100%;
}
 
%d14 {
  width: 3.425%;
  margin-left: 96.525%;
  float: left;
  margin-right: -100%;
}