/* simple grid system */

$columns: 12;
$grid-width: 20px;
$container: 1200px;

.wrapper {
    width: 90%;
    max-width: $container;
    margin: 0 auto;
}

@mixin calc($property, $expression) {
  	#{$property}: -moz-calc(#{$expression});
  	#{$property}: -webkit-calc(#{$expression});
  	#{$property}: calc(#{$expression});
}

@mixin column($amount, $float, $nested:"") {
	@include calc(width, "(100%/#{$columns})*#{$amount} - #{$grid-width}");
	float: $float;
	@if $nested == 'nested' {
		margin: 0 $grid-width/2;
	}
}