/* Main nav */

#main-nav {
    font-size: 1.375em;
    text-transform: uppercase;
    float: right;
    @include breakpoint($tab) {
        width: 100%;
        margin-top: 25px;
        font-size: 1em;
        float: none;
        clear: both;
    }
    @include breakpoint($mob) {
        display: none;
    }
    > ul {
        @extend.cf;
    }
    li {
        &.has-sub {
            width: auto;
            margin-left: 10px;
            text-align: center;
            position: relative;
            display: inline-block;
            @include breakpoint($tab) {
                width: 20%;
                margin: 0;
                display: block;
                float: left;
            }
            > a {
                padding: 35px 15px 20px;
                display: block;
                @include breakpoint($tab) {
                    padding: 20px 0;
                }
                &:hover, &.active, &.current { 
                    color: $red;
                }
                &:hover {
                    background: $white;
                    background: -ms-linear-gradient(left, rgba($white,.1) 0%,rgba($white,1) 100%);
                    @include background(linear-gradient(left, rgba($white,.1) 0%,rgba($white,1) 100%));
                }
            }
        }
        a {
            font-family:'UniversLTW01-47LightCnO';
        }
        &:hover {
            ul {
                display: block;
            }
        }
        ul {
            width: 155px;
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 50;
            @include breakpoint($tab) {
                width: 100%;
            }
            li {
                font-size: 0.818em;
                text-align: right;
                border-bottom: 1px solid $white;
                border-top: 1px solid $l-gray;
                &:first-child {
                    border-top: none;
                    a {
                        padding-top: 26px;
                    }
                }
            }
            a {
                padding: 7px 15px;
                display: block;
                color: $d-gray;
                background: $white;
                &:hover, &.active {
                    color: $red;
                }
            }
        }
    }
}

//mobile nav
#mobile-nav {
    background: $gray;
    display: none;
    float: left;
    position: absolute;
    left: 0;
    @include breakpoint($mob) {
        display: block;
        margin-left: -100%;
        @include transition(.2s all ease);
    }
    + .wrapper {
        margin-top: 96px;
        @media (max-width: 898px) {
            margin-top: 160px;
        }
        @include breakpoint($mob) {
            margin-top: 0;
            @include transition(.2s all ease);
        }
    }
    li {
        background: $white;
        &.has-sub {
            background: $med-gray;
            > a {
                padding: 10px 0 10px 10px;
                font-family:'UniversLTW01-47LightCnO';
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $white;
                display: block;
                &:hover {
                    color: $gray;
                    &:after {
                        color: $gray;
                    }
                }
                &:after {
                    content:" »";
                    color: $white;
                }
            }
        }
        ul {
            padding-left: 29px;
            list-style: square;
            background: $gray;
        }
        li {
            background: transparent;
            list-style: square;
        }
        a {
            padding: 10px 0;
            color: $d-gray;
            display: block;
            &:hover {
                color: $red;
            }
        }
    }
}
// Mobile nav trigger
#menu-trigger {
    display: none;
    @include breakpoint($mob) {
        height: 29px;
        width: 30px;
        display: block;
        background: url(../img/menu_button.png) 0 0 no-repeat;
        position: absolute;
        top: 19px;
        left: 7.425%;
        &:hover, &.active {
            background-position: -30px 0;
        }
    }
}
//trigger nav menu appearance
body.active {
    #mobile-nav { margin-left: 0; width:80%; }
    #mobile-nav + .wrapper { 
        @include breakpoint($mob){
            margin-right: -100%; margin-left: 80%;
        }
    }
}