/* Main nav */

#main-nav {
    //
}

//mobile nav
#mobile-nav {
    //
}
// Mobile nav trigger
#menu-trigger {
    display: none;
    @include breakpoint($mob) {
        height: 29px;
        width: 30px;
        display: block;
        background: url(../img/menu_button.png) 0 0 no-repeat;
        position: absolute;
        top: 19px;
        left: 7.425%;
        &:hover, &.active {
            background-position: -30px 0;
        }
    }
}
//trigger nav menu appearance
body.active {
    #mobile-nav { margin-left: 0; width:80%; }
    #mobile-nav + .wrapper { 
        @include breakpoint($mob){
            margin-right: -100%; margin-left: 80%;
        }
    }
}