/* IE <=9 styles */

$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;
$experimental-support-for-pie: true;
$pie-behavior: url("/content/css/PIE.htc");
$pie-base-class: pie-element;

@import "compass/css3/pie";

//Use @include pie-element; if you want to support rounded corners/gradients/opacity

@if $legacy-support-for-ie8 == 'true' {
	//do IE8 stuff
}