/* Imports */

@import "compass";
@import "compass/css3/pie";
@import "compass/reset";
@import "breakpoint";
@import "_colors";
@import "_type";
@import "_grid";
@import "_formalize";

/* Global styles */

// Breakpoints
$mob: max-width 480px;
$tab: max-width 768px;

* {
	@include box-sizing(border-box);
}

body {
    margin: 0;
}

/* HEADER */

header {
    background: $red;
    h1 {
        margin: 0;
    }
}

/* NAV */

@import "_nav";

/* MAIN */

main {
    @include column(8, left);
    background: $blue;
    div {
        @include column(4, left, nested);
        background: $white;
    }
}

//sidebars
aside {
    @include column(4, right);
    background: $green;
}

/* FOOTER */

footer {
    background: $red;
    clear: both;
}

/* Custom page styling */

    //homepage
    @import "pages/*";

/* Helper classes */

@mixin cf {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

/* Retina */

@media (min--moz-device-pixel-ratio: 1.5),
        (-o-min-device-pixel-ratio: 3/2),
        (-webkit-min-device-pixel-ratio: 1.5),
        (min-device-pixel-ratio: 1.5),
        (min-resolution: 144dpi),
        (min-resolution: 1.5dppx) {
    //
}

/* ============
   Print styles
   ============ */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
